:root {
  --c-placeholder-dark: rgba(0, 11, 29, 0.4);
  --c-text-dark: #000B1D;
  --c-text-default: #262F3F;
  --c-text-moderated: rgba(38, 47, 63, 0.7);
  --c-text-muted: rgba(38, 47, 63, 0.5);
  --c-text-success: #00B4A8;
  --c-text-error: #BF3D66;
  --c-text-light: #ffffff;
  --c-text-light-moderated: rgba(255, 255, 255, 0.8);
  --c-text-light-muted: rgba(255, 255, 255, 0.5);
  --c-heading-default: #000B1D;
  --c-heading-moderated: rgba(0, 11, 29, 0.7);
  --c-heading-muted: rgba(0, 11, 29, 0.5);
  --c-heading-light: #ffffff;
  --c-heading-light-moderated: rgba(255, 255, 255, 0.8);
  --c-link-default-base: #0044C3;
  --c-link-default-hover: #BF3D66;
  --c-link-dark-base: #000B1D;
  --c-link-dark-hover: rgba(0, 11, 29, 0.6);
  --c-link-moderated-base: rgba(0, 11, 29, 0.7);
  --c-link-moderated-hover: #000B1D;
  --c-link-light-base: #ffffff;
  --c-link-light-hover: rgba(255, 255, 255, 0.6);
  --c-link-light-moderated-base: rgba(255, 255, 255, 0.7);
  --c-link-light-moderated-hover: #ffffff;
  --c-pre-background: #F5F5F6;
  --c-pre-text: #262F3F;
  --c-pre-border: transparent;
  --c-table-cell-border: rgba(217, 219, 221, 0.5);
  --c-form-label-text: #262F3F;
  --c-inline-var-text: rgba(0, 11, 29, 0.85);
  --c-inline-kbd-border: rgba(0, 11, 29, 0.15);
  --c-inline-kbd-text: rgba(0, 11, 29, 0.85);
  --c-inline-code-background: #F5F5F6;
  --c-inline-code-text: rgba(0, 11, 29, 0.85);
  --c-button-default-base-background: #ffffff;
  --c-button-default-base-border: #D9DBDD;
  --c-button-default-base-text: #262F3F;
  --c-button-default-hover-background: #F5F5F6;
  --c-button-default-hover-border: #D9DBDD;
  --c-button-default-hover-text: #000B1D;
  --c-button-default-disabled-background: #ffffff;
  --c-button-default-disabled-border: #D9DBDD;
  --c-button-default-disabled-text: rgba(0, 11, 29, 0.85);
  --c-button-primary-base-background: #0058FB;
  --c-button-primary-base-border: transparent;
  --c-button-primary-base-text: #EDF3FF;
  --c-button-primary-hover-background: #0044C3;
  --c-button-primary-hover-border: transparent;
  --c-button-primary-hover-text: #EDF3FF;
  --c-button-primary-disabled-background: #000B1D;
  --c-button-primary-disabled-border: transparent;
  --c-button-primary-disabled-text: rgba(237, 243, 255, 0.75);
  --c-button-secondary-base-background: #000B1D;
  --c-button-secondary-base-border: transparent;
  --c-button-secondary-base-text: #F5F5F6;
  --c-button-secondary-hover-background: #262F3F;
  --c-button-secondary-hover-border: transparent;
  --c-button-secondary-hover-text: #F5F5F6;
  --c-button-secondary-disabled-background: #000B1D;
  --c-button-secondary-disabled-border: transparent;
  --c-button-secondary-disabled-text: rgba(245, 245, 246, 0.75);
  --c-input-default-base-text: #262F3F;
  --c-input-default-base-border: #D9DBDD;
  --c-input-default-base-background: #ffffff;
  --c-input-default-focus-border: rgba(0, 88, 251, 0.5);
  --c-input-default-focus-shadow: rgba(0, 88, 251, 0.3);
  --c-input-error-base-text: #BF3D66;
  --c-input-error-base-border: rgba(255, 79, 127, 0.5);
  --c-input-error-base-shadow: rgba(255, 79, 127, 0.3);
  --c-input-error-focus-border: #FF4F7F;
  --c-hint-default: rgba(38, 47, 63, 0.55);
  --c-hint-success: #00B4A8;
  --c-hint-error: #BF3D66;
  --c-hint-required: #BF3D66;
  --c-line-default: rgba(217, 219, 221, 0.6);
  --c-shadow-neutral-100-1: rgba(0, 11, 29, 0.15);
  --c-shadow-neutral-100-2: rgba(0, 11, 29, 0.06);
  --c-shadow-neutral-200-1: rgba(0, 11, 29, 0.12);
  --c-shadow-neutral-200-2: rgba(0, 11, 29, 0.06);
  --c-shadow-neutral-300: rgba(0, 11, 29, 0.2);
  --c-background-light: #ffffff;
  --c-background-dark: #000B1D; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

audio, canvas, video, progress, iframe {
  display: block;
  vertical-align: baseline; }

fieldset, iframe, img {
  border: 0; }

embed, object, img, video {
  max-width: 100%;
  height: auto; }

button,
[type="submit"] {
  -webkit-appearance: button; }

[type="radio"],
[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 0.15em;
  margin-right: 2px; }

input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

::-moz-focus-inner {
  border: none;
  padding: 0; }

@media print {
  body {
    color: #000; }
  a, a:link, a:visited {
    color: #000;
    text-decoration: none; }
  .hidden-print {
    display: none; } }

@media screen {
  .visible-print {
    display: none; } }

html {
  font-size: 4px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-text-default); }

::-webkit-input-placeholder {
  color: var(--c-placeholder-dark); }

::-moz-placeholder {
  color: var(--c-placeholder-dark); }

::-ms-input-placeholder {
  color: var(--c-placeholder-dark); }

::placeholder {
  color: var(--c-placeholder-dark); }

h1 + * {
  margin-top: 12px; }

h2 + * {
  margin-top: 12px; }

h3 + * {
  margin-top: 12px; }

h4 + * {
  margin-top: 12px; }

h5 + * {
  margin-top: 12px; }

h6 + * {
  margin-top: 12px; }

p + h2, ul + h2, ol + h2, blockquote + h2, figure + h2, pre + h2, table + h2, dl + h2, address + h2 {
  margin-top: 32px; }

p + h3, ul + h3, ol + h3, blockquote + h3, figure + h3, pre + h3, table + h3, dl + h3, address + h3 {
  margin-top: 32px; }

p + h4, ul + h4, ol + h4, blockquote + h4, figure + h4, pre + h4, table + h4, dl + h4, address + h4 {
  margin-top: 32px; }

p + h5, ul + h5, ol + h5, blockquote + h5, figure + h5, pre + h5, table + h5, dl + h5, address + h5 {
  margin-top: 32px; }

p + h6, ul + h6, ol + h6, blockquote + h6, figure + h6, pre + h6, table + h6, dl + h6, address + h6 {
  margin-top: 32px; }

p + *, ul + *, ol + *, blockquote + *, figure + *, pre + *, table + *, dl + *, address + * {
  margin-top: 20px; }

h1 + h2 {
  margin-top: 32px; }

h2 + h3 {
  margin-top: 32px; }

h3 + h4 {
  margin-top: 32px; }

h4 + h5 {
  margin-top: 32px; }

h5 + h6 {
  margin-top: 32px; }

a {
  color: var(--c-link-default-base); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-heading-default);
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    transition: all 0.2s linear;
    color: inherit;
    opacity: 0.7;
    text-decoration: underline; }

h1 {
  font-size: 48px;
  line-height: 1.1; }

h2 {
  font-size: 28px;
  line-height: 1.3; }

h3 {
  font-size: 21px;
  line-height: 1.4; }

h4 {
  font-size: 16px;
  line-height: 1.5; }

ul,
ol {
  margin-left: 20px; }

li li {
  font-size: 1em; }

nav ul,
nav ol {
  margin-left: 0;
  list-style: none; }

dt {
  font-weight: bold; }

dd + dt {
  margin-top: 0.25em; }

pre {
  overflow: auto;
  white-space: pre;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 90%;
  line-height: 1.5;
  color: var(--c-pre-text);
  background-color: var(--c-pre-background);
  padding: 1em;
  border: 1px solid var(--c-pre-border);
  border-radius: 4px; }

pre code {
  padding: 0;
  border: 0;
  font-size: 100%;
  display: block;
  line-height: inherit; }

blockquote {
  color: var(--c-text-default);
  font-style: italic;
  font-weight: normal;
  padding: 0;
  background: transparent; }
  blockquote p {
    color: var(--c-text-default);
    font-size: 115%;
    line-height: 1.5; }
  blockquote p + p {
    margin-top: 0.5em; }

blockquote cite,
figcaption cite {
  font-style: inherit;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(var(--c-text-default), 0.7); }

caption {
  text-align: left;
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  empty-cells: show; }

td,
th {
  text-align: left;
  vertical-align: top;
  font-size: 95%;
  line-height: 1.5;
  padding: 0.75em;
  border: 1px solid var(--c-table-cell-border); }

th {
  font-weight: normal; }

thead th {
  font-weight: bold; }

address {
  font-style: normal; }

dfn,
abbr {
  font-size: 95%; }

time,
cite,
small,
var,
kbd,
code {
  font-size: 85%; }

sup,
sub {
  font-size: 65%; }

var,
code,
kbd {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-style: normal;
  line-height: 1;
  vertical-align: baseline; }

kbd,
code {
  border-radius: 4px; }

kbd {
  color: var(--c-inline-kbd-text);
  border: 1px solid var(--c-inline-kbd-border);
  padding: .2em .4em; }

var {
  color: var(--c-inline-var-text); }

code {
  color: var(--c-inline-code-text);
  position: relative;
  top: -1px;
  border: 1px solid transparent;
  background-color: var(--c-inline-code-background);
  padding: .2em .4em .2em; }

pre code {
  background: none; }

mark {
  background-color: yellow;
  color: black; }

b,
strong {
  font-weight: 600; }

dfn[title],
abbr[title] {
  letter-spacing: .01em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  cursor: help; }

cite {
  font-style: italic; }

sub,
sup {
  line-height: 1;
  margin-left: 2px; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

label {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: var(--c-form-label-text);
  margin-bottom: 0.15em; }
  label.checkbox,
  label .hint,
  label .success,
  label .error {
    text-transform: none;
    font-weight: normal; }
  label.checkbox {
    cursor: pointer;
    color: inherit;
    font-size: 100%; }

figure > img,
figure > iframe,
figure > pre,
figure > div {
  vertical-align: middle; }

figure figcaption {
  display: block;
  font-style: normal;
  margin-top: 0.25em;
  font-size: 12px;
  line-height: 1.5; }

hr {
  position: relative;
  line-height: 1;
  background: none;
  border: none;
  text-align: left;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 10px; }
  hr:before {
    content: '';
    position: absolute;
    top: 50%; }
  hr:before {
    width: 100%;
    max-width: 100%;
    margin-top: -0.5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--c-line-default); }

input,
textarea,
select {
  display: block;
  width: 100%;
  font-family: inherit;
  vertical-align: middle;
  font-weight: normal; }
  input:disabled,
  textarea:disabled,
  select:disabled {
    resize: none;
    opacity: 0.6;
    cursor: default; }

input, textarea, select {
  color: var(--c-input-default-base-text);
  border: 1px solid var(--c-input-default-base-border);
  background-color: var(--c-input-default-base-background);
  box-shadow: none; }
  input:focus, textarea:focus, select:focus {
    border-color: var(--c-input-default-focus-border);
    box-shadow: 0 0 2px var(--c-input-default-focus-shadow); }

.input-error {
  color: var(--c-input-error-base-text);
  border-color: var(--c-input-error-base-border);
  box-shadow: 0 0 2px var(--c-input-error-base-shadow); }
  .input-error:focus {
    border-color: var(--c-input-error-focus-border); }

input, textarea, select {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  padding: 0.3em 0.5em;
  height: 44px; }

.input-large {
  font-size: 21px;
  line-height: 1.5;
  border-radius: 2px;
  padding: 0.3em 0.65em;
  height: 56px; }

textarea {
  resize: vertical;
  height: auto;
  vertical-align: top; }

select {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg height="10" viewBox="0 0 9 10" width="9" xmlns="http://www.w3.org/2000/svg"><path fill="rgba(0, 0, 0, .6)" d="m3.27162899.66658308.8-.70211699 4 3.51058495-.8.70211699-3.2-2.80846796-3.2 2.80846796-.8-.70211699zm0 8.59576602-3.2-2.80846795.8-.70211699 3.2 2.80846796 3.2-2.80846796.8.70211699-4 3.51058494z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0.65em center;
  padding-right: 28px; }

select[multiple] {
  background-image: none;
  height: auto; }

input[type="file"] {
  width: auto;
  border: none;
  padding: 0;
  height: auto;
  background: none;
  box-shadow: none;
  display: inline-block; }

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  height: auto;
  box-shadow: none;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff; }

.entry {
  margin: 0;
  padding: 24px;
  background-color: #ffffff; }

div + p,
div + blockquote,
div + table,
div + ul,
div + ol,
div + dl,
div + pre,
div + pre,
div + h1,
div + h2,
div + h3,
div + h4,
div + h5,
div + h6,
div + figure {
  margin-top: 20px; }

ul[dir="rtl"],
ul[dir="rtl"] ul,
ul[dir="rtl"] ol,
ol[dir="rtl"],
ol[dir="rtl"] ul,
ol[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 20px; }

ul[dir="rtl"] li,
ol[dir="rtl"] li {
  text-align: right; }

.card {
  background-color: #F5F5F6;
  padding: 24px;
  border-radius: 4px; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }
  .align-center img {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; }
  .align-center figcaption {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }

.align-right {
  text-align: right; }
  .align-right img {
    margin-left: auto; }
  .align-right figcaption {
    text-align: right;
    margin-left: auto; }

.align-justify {
  text-align: justify; }

.float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 200px; }

.float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 200px; }

.valign-top {
  align-items: start; }

.valign-middle {
  align-items: center; }

.valign-bottom {
  align-items: end; }

.outset-right {
  position: relative;
  width: calc(100% + 24px);
  max-width: calc(100% + 24px);
  transform: translateX(24px) translate3d(0, 0, 0);
  left: calc(24px * -1); }

.outset-left {
  width: calc(100% + 24px);
  max-width: calc(100% + 24px);
  transform: translateX(calc(24px * -1)) translate3d(0, 0, 0); }

.outset-both {
  position: relative;
  width: calc(100% + 24px + 24px);
  max-width: calc(100% + 24px + 24px);
  transform: translateX(-50%) translate3d(0, 0, 0);
  left: 50%; }

button,
a.button,
.button {
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  line-height: 1.25;
  font-size: 15px;
  font-weight: normal;
  color: black;
  padding: 0.4em 20px 0.4em 20px;
  height: 44px;
  border: 1px solid var(--c-button-default-base-border);
  background-color: var(--c-button-default-base-background); }

.button [class^='fa-'] + span,
.button [class*=' fa-'] + span,
.button [class^='icon-'] + span,
.button [class*=' icon-'] + span {
  margin-left: 4px; }

.button span + [class^='fa-'],
.button span + [class*=' fa-'],
.button span + [class^='icon-'],
.button span + [class*=' icon-'] {
  margin-left: 4px;
  margin-right: -2px; }

.button:hover, .button:focus {
  outline: none;
  text-decoration: none; }

.button:disabled {
  cursor: default;
  opacity: 0.5; }

.button {
  font-weight: normal;
  text-transform: none;
  color: var(--c-button-default-base-text);
  border: 1px solid var(--c-button-default-base-border);
  background-color: var(--c-button-default-base-background);
  background-image: none; }
  .button:hover, .button:focus {
    color: var(--c-button-default-hover-text);
    border: 1px solid var(--c-button-default-hover-border);
    background-color: var(--c-button-default-hover-background);
    background-image: none; }
  .button:disabled {
    color: var(--c-button-default-disabled-text);
    border: 1px solid var(--c-button-default-disabled-border);
    background-color: var(--c-button-default-disabled-background);
    background-image: none; }

.button.button-primary {
  font-weight: normal;
  text-transform: none;
  color: var(--c-button-primary-base-text);
  border: 1px solid var(--c-button-primary-base-border);
  background-color: var(--c-button-primary-base-background);
  background-image: none; }
  .button.button-primary:hover, .button.button-primary:focus {
    color: var(--c-button-primary-hover-text);
    border: 1px solid var(--c-button-primary-hover-border);
    background-color: var(--c-button-primary-hover-background);
    background-image: none; }
  .button.button-primary:disabled {
    color: var(--c-button-primary-disabled-text);
    border: 1px solid var(--c-button-primary-disabled-border);
    background-color: var(--c-button-primary-disabled-background);
    background-image: none;
    opacity: 0.4; }

.button.button-secondary {
  font-weight: normal;
  text-transform: none;
  color: var(--c-button-secondary-base-text);
  border: 1px solid var(--c-button-secondary-base-border);
  background-color: var(--c-button-secondary-base-background);
  background-image: none; }
  .button.button-secondary:hover, .button.button-secondary:focus {
    color: var(--c-button-secondary-hover-text);
    border: 1px solid var(--c-button-secondary-hover-border);
    background-color: var(--c-button-secondary-hover-background);
    background-image: none; }
  .button.button-secondary:disabled {
    color: var(--c-button-secondary-disabled-text);
    border: 1px solid var(--c-button-secondary-disabled-border);
    background-color: var(--c-button-secondary-disabled-background);
    background-image: none;
    opacity: 0.4; }

.button {
  font-size: 15px;
  border-radius: 4px;
  padding: 0.4em 20px 0.4em 20px;
  height: 44px; }
  .button.button-large {
    font-size: 16px;
    border-radius: 4px;
    padding: 0.4em 32px 0.4em 32px;
    height: 56px; }

.embed-responsive {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.form-item {
  margin-bottom: 20px; }

.form-item .form-item {
  margin-bottom: 0; }

.form-buttons {
  margin-top: 24px; }

.form-checkboxes label.checkbox {
  display: inline-block;
  margin-bottom: 0; }
  .form-checkboxes label.checkbox + label.checkbox {
    margin-left: 1em; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px; }

.grid + .grid {
  margin-top: 24px; }

.grid-gutterless {
  grid-column-gap: 0; }

.grid-gapless {
  grid-row-gap: 0; }
  .grid-gapless + .grid {
    margin-top: 0; }

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); }

.grid-1 {
  grid-template-columns: repeat(1, 1fr); }

.grid-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-5 {
  grid-template-columns: repeat(5, 1fr); }

.grid-6 {
  grid-template-columns: repeat(6, 1fr); }

.grid-7 {
  grid-template-columns: repeat(7, 1fr); }

.grid-8 {
  grid-template-columns: repeat(8, 1fr); }

.grid-9 {
  grid-template-columns: repeat(9, 1fr); }

.grid-10 {
  grid-template-columns: repeat(10, 1fr); }

.grid-11 {
  grid-template-columns: repeat(11, 1fr); }

.grid-12 {
  grid-template-columns: repeat(12, 1fr); }

.column-1 {
  grid-column-end: span 1; }

.column-2 {
  grid-column-end: span 2; }

.column-3 {
  grid-column-end: span 3; }

.column-4 {
  grid-column-end: span 4; }

.column-5 {
  grid-column-end: span 5; }

.column-6 {
  grid-column-end: span 6; }

.column-7 {
  grid-column-end: span 7; }

.column-8 {
  grid-column-end: span 8; }

.column-9 {
  grid-column-end: span 9; }

.column-10 {
  grid-column-end: span 10; }

.column-11 {
  grid-column-end: span 11; }

.column-12 {
  grid-column-end: span 12; }

@media only screen and (max-width: 1023px) {
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr); }
  .grid-2-md {
    grid-template-columns: repeat(2, 1fr); }
  .grid-3-md {
    grid-template-columns: repeat(3, 1fr); }
  .grid-4-md {
    grid-template-columns: repeat(4, 1fr); }
  .grid-5-md {
    grid-template-columns: repeat(5, 1fr); }
  .grid-6-md {
    grid-template-columns: repeat(6, 1fr); }
  .grid-7-md {
    grid-template-columns: repeat(7, 1fr); }
  .grid-8-md {
    grid-template-columns: repeat(8, 1fr); }
  .grid-9-md {
    grid-template-columns: repeat(9, 1fr); }
  .grid-10-md {
    grid-template-columns: repeat(10, 1fr); }
  .grid-11-md {
    grid-template-columns: repeat(11, 1fr); }
  .grid-12-md {
    grid-template-columns: repeat(12, 1fr); } }

@media only screen and (max-width: 767px) {
  .grid,
  .grid-auto {
    grid-template-columns: repeat(1, 1fr); }
  .column {
    grid-column-end: span 1; }
  .column:empty {
    display: none; }
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr); }
  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr); }
  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr); }
  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr); }
  .grid-5-sm {
    grid-template-columns: repeat(5, 1fr); }
  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr); }
  .grid-7-sm {
    grid-template-columns: repeat(7, 1fr); }
  .grid-8-sm {
    grid-template-columns: repeat(8, 1fr); }
  .grid-9-sm {
    grid-template-columns: repeat(9, 1fr); }
  .grid-10-sm {
    grid-template-columns: repeat(10, 1fr); }
  .grid-11-sm {
    grid-template-columns: repeat(11, 1fr); }
  .grid-12-sm {
    grid-template-columns: repeat(12, 1fr); } }

@media all and (-ms-high-contrast: none) {
  display: flex;
  margin-left: -24px;
  .column {
    flex: 1;
    margin-left: 24px;
    margin-bottom: 24px; } }

@media all and (-ms-high-contrast: none) and (max-width: 767px) {
  display: block;
  margin-left: 0;
  .column {
    margin-left: 0; } }

.heading-moderated {
  color: var(--c-heading-moderated); }

.heading-muted {
  color: var(--c-heading-muted); }

.heading-light {
  color: var(--c-heading-light); }

.heading-light-moderated {
  color: var(--c-heading-light-moderated); }

.heading-mega {
  font-size: 72px;
  line-height: 1.1; }

.heading-huge {
  font-size: 60px;
  line-height: 1.1; }

.heading-large {
  font-size: 48px;
  line-height: 1.1; }

.heading-medium {
  font-size: 24px;
  line-height: 1.3; }

.heading-small {
  font-size: 16px;
  line-height: 1.5; }

.link-stretched:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""; }

.link-underline {
  text-decoration: underline; }

.link-underline-off {
  text-decoration: none; }

.link-dark {
  color: var(--c-link-dark-base); }
  .link-dark:hover {
    transition: all 0.2s linear;
    color: var(--c-link-dark-hover); }

.link-moderated {
  color: var(--c-link-moderated-base); }
  .link-moderated:hover {
    transition: all 0.2s linear;
    color: var(--c-link-moderated-hover); }

.link-light {
  color: var(--c-link-light-base); }
  .link-light:hover {
    transition: all 0.2s linear;
    color: var(--c-link-light-hover); }

.link-light-moderated {
  color: var(--c-link-light-moderated-base); }
  .link-light-moderated:hover {
    transition: all 0.2s linear;
    color: var(--c-link-light-moderated-hover); }

.list-inline {
  list-style: none;
  margin-left: 0; }

.list-inline li {
  display: inline;
  white-space: nowrap;
  margin-right: 0.25em; }

.list-unstyled {
  margin-left: 0;
  list-style: none; }
