<template>
    <div class="box">
        <textarea ref="article" :name="name" :placeholder="placeholder" :value="value" />
        <pre>{{ code }}</pre>
    </div>
</template>
<script>
import Vue from 'vue'
import ArticleEditor from './ArticleEditor/article-editor'
import './ArticleEditor/css/article-editor.css'

import './ArticleEditor/plugins/icons/icons'
import './ArticleEditor/plugins/math/math'
import './ArticleEditor/plugins/counter/counter'
import './ArticleEditor/plugins/makebutton/makebutton'
import './ArticleEditor/plugins/slideshow/slideshow'
import './ArticleEditor/plugins/print/print'
import './ArticleEditor/plugins/reorder/reorder'

import './ArticleEditor/plugins/relatedarticle'

export default {
    name: 'ArticleEditor',
    props: {
        value: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: null,
        },
        name: {
            type: String,
            default: null,
        },
        config: {
            type: Object,
            default: () => ({}),
        },
    },
    computed: {
        configData() {
            return Vue.util.extend({
                subscribe: {
                    'editor.change': (event) => {
                        const html = event.get('html')
                        this.handleInput(html)
                        this.code = html
                        return html
                    }
                },
                plugins: [
                    'icons',
                    'imageposition',
                    'math',
                    'counter',
                    'makebutton',
                    'slideshow',
                    'relatedarticle',
                    'print',
                    'reorder',
                ],
                css: 'css/',
                custom: {
                    css: [
                        'https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css',
                    ],
                    js: ['https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js'],
                },
                image: {
                    select: 'https://picsum.photos/v2/list',
                },
                slideshow: {
                    select: 'https://picsum.photos/v2/list',
                },
                math: {
                    delimiters: [
                        { left: "$$", right: "$$", display: true },
                        { left: "$", right: "$", display: false },
                        { left: "\\(", right: "\\)", display: false },
                        { left: "\\[", right: "\\]", display: true },
                    ],
                },
                makebutton: {
                    items: {
                        primary: {
                            title: 'Default',
                            params: { classname: 'button' },
                        },
                        secondary: {
                            title: 'Primary',
                            params: { classname: 'button button-primary' },
                        },
                    },
                }
            }, this.config)
        }
    },
    data() {
        return {
            article: false,
            code: this.value,
        }
    },
    methods: {
        init () {
            this.$parent.article = this.article = ArticleEditor(this.$refs.article, this.configData)
        },
        destroy () {
            this.article.stop()
            this.article = null
            this.$parent.article = null
        },
        handleInput (val) {
            this.$emit('input', val)
        },
    },
    mounted() {
        this.init()
    },
    beforeDestroy() {
        this.destroy()
    },
}
</script>

<style>
    .box {
        padding: 20px;
        display: flex;
    }
    .box > textarea {
        display: none;
    }
    .box > div {
        flex: 3;
    }
    .box > pre {
        flex: 1;
        overflow: auto;
    }
</style>
