<template>
  <appArticleEditor
    name="editor1"
    placeholder="klikni a píš alebo vlož obsah"
    :value="content"
  />
</template>

<script>
import appArticleEditor from './ArticleEditor'

export default {
    name: 'HelloWorld',
    components: {
        appArticleEditor,
    },
    data() {
        return {
            content: `
<h1>Nadpis pre skúšku</h1>
<figure class="relatedarticle card" data-arx-type="relatedarticle" data-id="1">
    <span>Related article: </span>
    <span>1</span>
</figure>
<div class="grid">
    <div class="column column-4">
    </div>
    <div class="column column-4">
        <figure>
            <img src="https://picsum.photos/id/1003/200/300" data-image="1003">
            <figcaption>
                xxx
            </figcaption>
        </figure>
    </div>
    <div class="column column-4">
    </div>
</div>
<p>
    $$x = \\begin{cases}
   a &\\text{if } b \\\\
   c &\\text{if } d
\\end{cases}$$
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15883.415790363764!2d24.945462872596433!3d60.15711016040717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920bc8506d8a65%3A0xe0c463797fdb7dfa!2sDesign%20Museum%20Helsinki!5e0!3m2!1sen!2sfi!4v1594370473292!5m2!1sen!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<h2>Menši nadpis</h2>
<figure>
    <a href="https://picsum.photos/id/237/500/300" target="_blank"><img src="https://picsum.photos/id/237/500/300" data-image="b0bv3w9culve" alt="alt text image puppy"></a>
    <figcaption>
        caption image puppy
    </figcaption>
</figure>
<p></p>
<p></p>
            `,
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
