.arx-popup-relatedarticle .arx-popup-body,
.arx-popup-stack-relatedarticle .arx-popup-body {
    padding: 20px;
    padding-top: 0;
}
.arx-popup-relatedarticle .arx-relatedarticle-items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #E5E7E7;
}
.arx-popup-relatedarticle .arx-relatedarticle-items:empty {
    padding: 0;
    margin-top: -10px;
}
.arx-popup-relatedarticle .arx-relatedarticle-items img {
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.arx-popup-relatedarticle .arx-relatedarticle-item {
    position: relative;
}
.arx-popup-relatedarticle .arx-upload-remove {
    right: 5px;
}

.arx-popup-stack-relatedarticle table {
    width: 100%;
}
.arx-popup-stack-relatedarticle table tr td:last-child {
    width: 99%;
}